<p>Привет <%= @resource.email %>!</p>

<p>Запрошена ссылка для изменения вашего пароля, и вы можете сделать  это перейдя по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы ничего не запрашивали, пожалуйста, проигнорируйте этот email.</p>
<p>Ваш пароль не будет изменен пока вы не перейдете по ссылке выше и не создадите новый.</p>
