<p>Привет <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за чрезмерного количества неудачных попыток входа.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать вашу учетную запись:</p>

<p><%= link_to 'Разблокировать мою учетную запись', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
