<p>обратная связь с сайта <b>svopart.ru</b></p>
<br />
<p><i>назвавший себя:</i> <%= @sender.sender_name %></p>
<p><i>с ящика:</i><%= @sender.email %></p>
<p><i>пишет:</i></p>
<p><%= @sender.content %></p>
