<div class = "spec_offer">
  <div id="spec_offer_title">
    <p>доставка/оплата</p>
  </div>

  <div class = "info">
    <h4>Доставка</h4>

    <p>После оформления заказа через форму на сайте, с Вами свяжется наш менеджер для подтверждения введенных данных и согласует условия доставки.</p>

    <h4>ДОСТАВКА ПО МОСКВЕ</h4>

    <ul>
      <li>Доставка заказов по Москве осуществляется в течении 1-2 дней с момента оформления заказа. Заказ будет доставлен после предварительного звонка по телефону для согласования времени доставки.</li>
      <li>Доставка по Москве в пределах МКАД</li>
      <li>Заказ весом до 5 кг включительно - 300 руб.</li>
      <li>Заказ весом свыше 5 кг - 500 руб.</li>
      </br>
      <li>Доставка по Московской области за пределами МКАД, не более 30 км.</li>
      <li>Заказ любым весом - 500 руб.</li>
    </ul>

    <h4>ДОСТАВКА В РЕГИОНЫ</h4>
    <ul>
      <li>Доставка заказа для клиентов из регионов России осуществляется курьерской службой EMS Почта России в течении 5-7 рабочих дней.</li>
      <li>Стоимость доставки во все регионы России рассчитывается индивидуально.</li>
      <li>Доставка товара до почтового отделения по Москве - бесплатная.</li>
      <li>Обращаем Ваше внимание, что в этом случае стоимость доставки мы не считаем в Вашей корзине будет указана только стоимость товара.</li>
      <li>При сумме заказа более 15 000 рублей доставка по Москве и Московской области бесплатная.</li>
    </ul>

    <h4>ОПЛАТА</h4>
    <ul>
      <li>Оплата производится курьеру наличными деньгами по факту доставки товара курьером.</li>
      <li>
        <ul>
          <li>Оплата наличными (оплата по факту получения)</li>
          <li>При наличном расчете производится курьеру наличными деньгами по факту доставки товара курьером, либо в нашем офисе при самовывозе заказа.</li>
        </ul>
      </li>
      <li>Оплата безналом (предоплата)</li>
      <li>
        <ul>
          <li>При безналичном расчете отпуск товара производится после поступления средств на наш расчетный счет в банке. Выдача товар осуществляется покупателю, либо его представителю при наличии корректно заполненной доверенности и паспорта (либо наличии печати).</li>
          <li>При доставке товара Почтой России к стоимости товара прибавляется только стоимость доставки.</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Оплата наложенным платежом (оплата по факту получения)</li>
          <li>При оплате товара во время его получения на почте (оплата наложенным платежом) к стоимости товара прибавляется стоимость доставки и стоимость страхового сбора.</li>
        </ul>
      </li>
    </ul>
    <p>Цены указанные на сайте включают все налоги.</p>
  </div>
</div>
