<div class = "spec_offer">
  <div id="spec_offer_title">
    <p>информация</p>
  </div>

  <div class = "info">
    <h4>Оригинальные расходные материалы</h4>
<p>Оригинальные расходные материалы - это:</p>
 <ul><li><ul>
    <li>• продукция компании-производителя, разработанная вместе с оборудованием как единое целое для достижения наилучших результатов;
    </li>
    <li>• жёсткий контроль качества на всех этапах производства;</li>
    <li>• высокое качество печати благодаря строгому соответствию необходимым требованиям по: физическому размеру частиц, химическому составу, температуре плавления и электростатическим свойствам тонера;</li>
    <li>• гарантия качества печати и рабочего состояния Вашего аппарата. Использование неоригинальных расходных материалов может негативно отразиться на качестве работы оборудования и привести к его поломке. В случае возникновения проблем с оборудованием при использовании неоригинальных расходных материалов, аппарат снимается с гарантии, в то время как использование оригинальных расходных материалов является гарантией того, что сервисные партнеры компании-производителя помогут устранить неисправность оборудования в кратчайший срок;</li>
    <li>• удобство использования – картриджи компании-производителя сконструированы таким образом, чтобы процесс их замены занимал у пользователя как можно меньше времени.
Качественная и бесперебойная работа оборудования – только с оригинальными расходными материалами компании-производителя.</li>
</ul></li><ul>
<h4>Дополнительная информация:</h4>
<p>Картриджи повышенной емкости</p>
<li>Выбирая картриджи для принтеров, необходимо обратить внимание на такой показатель, как ресурс картриджа.</li>
<li>Ресурс (или ёмкость) картриджа – это максимальное количество отпечатков, которое можно произвести при использовании данного расходного материала. Ресурс указывается в страницах формата А4 при определенном процентном заполнении их тонером, как правило 5%.</li>
<li>Процентное заполнение страницы – это отношение площади участков страницы, заполненных тонером или чернилами, к площади белых участков, на которых отсутствует изображение. Так, 100% заполнение – это черная страница А4, полностью заполненная тонером.</li>
<li>Для многих принтеров, как цветных, так и монохромных, предлагаются картриджи повышенной емкости. Такое решение позволяет реже менять картридж и максимально снизить себестоимость печати. Например, для аппарата Phaser 3635, ресурс картриджа повышенной емкости в 2 раза превышает ресурс стандартного картриджа, что позволяет конечному пользователю экономить на стоимости печати около 500 рублей в месяц.</li>
<p>Раздельные ресурсные детали</p>
<li>Специалисты компаний-производителей позаботились о том, чтобы поддержание наших устройств в рабочем состоянии требовало от пользователей минимальных затрат времени и средств. Поэтому для всех цветных аппаратов предусмотрены отдельные картриджи для каждого цвета чернил.</li>
<li>Также в целях обеспечения максимальной экономии для большинства аппаратов предусмотрены раздельные тонер-картриджи и фотобарабаны. Замену тонер-картриджей можно производить отдельно от фотобарабана, который имеет больший ресурс. Возможность менять ресурсные детали по отдельности обеспечивает более экономичное использование расходных материалов за счет того, что замене подлежит только та деталь, ресурс которой выработан. В то же время у персональных продуктов тонер и барабан находятся в одном картридже и меняются одновременно, что гарантирует легкость и быстроту замены.</li>
  </div>
</div>
