<div class = "spec_offer">
  <div id="spec_offer_title">
    <p>вакансии</p>
  </div>
  <div class = "info">
	<h4>КУРЬЕР</h4>
	<ul>
		<li>Обязанности: Доставка товаров клиентам по Москве.</li>
		<li>Требования: мужчина от 18 до 50 лет, гражданство РФ.</li>
		<li>Оплата по договоренности.</li>
	</ul>
	<h4>ВОДИТЕЛЬ</h4>
	<ul>
		<li>Обязанности: Доставка товаров на автомобиле по Москве и МО.</li>
		<li>Требования: мужчина от 25 до 50 лет, гражданство РФ, водительские права, наличие личного автомобиля.</li>
		<li>Оплата по договоренности.</li>
	</ul>
	<h4>МЕНЕДЖЕР ПО ПРОДАЖАМ</h4>
	<ul>
		<li>Обязанности: Поиск и ведение клиентов по продаже картриджей и расходных материалов.</li>
		<li>Требования: мужчина/женщина от 18 до 25 лет, гражданство РФ, знание рынка расходных материалов, опыт работы в аналогичной должности от 1 года.</li>
		<li>Оплата по договоренности.</li>
	</ul>
  </div>
</div>
