<!DOCTYPE html>
<html>
<head>
  <title>СВОПАРТ - картриджи и расходные материалы</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js', 'rails.js', 'dd_roundies.js', 'jquery.tooltip.js', 'jquery.gritter.min.js', 'jquery.colorbox-min.js', 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
asasddddddddddddddddddddddddddd
<table>
  afasgfar
</table>


</body>
</html>
